{# templates/contact_us/index.html.twig #}
 
<div class="example-wrapper">
<h1>Hello {{ controller_name }}!</h1>
<p>This about message is coming from:</p>
    {% if contactUs %}
<div>
<strong>Message Body:</strong> {{ contactUs.getBodyMessage }}
</div>
    {% else %}
<p>No about message found.</p>
    {% endif %}
</div>